node_modules
dist
.env
*.db
*.db-journal
.DS_Store
playwright-report
test-results
.vite
.turbo
coverage
*.tsbuildinfo
packages/server/prisma/*.db*
packages/server/.test-db
packages/server/src/generated
.trace-inspect/*
**/.trace-inspect-**/*